.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-wrapper {
    position: relative;
    width: 600px;
    height: 500px;
  }
  
  /* Bolona central */
  .central-circle {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .central-circle.hide {
    opacity: 0;
    pointer-events: none;
  }

  .blob-shape-img  {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 3;
    pointer-events: none;
  }

  .blob-shape-img.show {
    opacity: 0.2;
    transform: scale(1);
    pointer-events: auto;
  }

  /* Quando clicado, vira a gotinha */
   .central-circle.gotinha {
    background-image: url('../assets/gotinha.png');
    background-color: transparent;
    border-radius: 0;
  }
  
  
  /* Bolinhas menores */
 .circle-item {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 3;
    display: flex; /* Adicionado para centralizar o ícone */
    justify-content: center; /* Adicionado para centralizar o ícone */
    align-items: center; /* Adicionado para centralizar o ícone */
}

.circle-item.show {
    opacity: 1;
    transform: scale(1);
}

/* NOVO: Estilo para o ícone dentro do circle-item */
.circle-item .circle-icon {
    width: 60px; /* Ajuste o tamanho conforme necessário */
    height: 60px; /* Ajuste o tamanho conforme necessário */
    opacity: 0.5; /* Opacidade desejada */
} 
  /* Hover destacado */
  .circle-item:hover {
    transform: scale(1.1);
  }
  
  /* Distribuição lateral em curva */
  .item1 {
    top: 40px;
    left: 360px;
  }
  
  .item2 {
    top: 140px;
    left: 430px;
  }
  
  .item3 {
    top: 260px;
    left: 430px;
  }
  
  .item4 {
    top: 360px;
    left: 360px;
  }
  
  /* Delays animados em cascata */
  .item1.show { transition-delay: 0s; }
  .item2.show { transition-delay: 0.05s; }
  .item3.show { transition-delay: 0.1s; }
  .item4.show { transition-delay: 0.15s; }
  